* {
    box-sizing: border-box;
  }

  input[type=text]{
    padding: 12px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
  }

  label {
    padding: 12px 6px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    padding: 10px;
    display: table;
    margin: 0 auto;

  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
  }

  .col-25b {
    float: right;
    margin-top: 6px;
    text-align: right;
  }
  .col-50{
    float: left;
    margin-top: 6px;
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: .25em;
    padding-top: .25em;
  }

  #btn {
      text-align: center;
  }

  form{
    border:2px solid black;
    border-radius: 8px;
    background-color: teal;
    width: 950px;
  }

  h1, .center{
    padding-top: .75em;
    text-align:center;
  }
  span{
      vertical-align: top;
  }

  .todo{
    width: 20%;
    box-sizing: border-box;
    background-color:lightblue;
    padding: 0.5em;
    border-radius:.75em;
    margin: 1em;
    cursor: pointer;
  }

  .todo h3{
    margin: 0px;
  }
  .todo p{
    margin: 0px;
  }

  .completed{
    opacity: 35%;
    background-color:lightgreen;
    text-decoration: line-through;
  }

  #complete-items{
    border: .1em solid blue;
    margin-bottom: 1em;
  }

  #incomplete-items{
    border: .1em solid black;
    margin-bottom: 1em;
  }

  #complete-items, #incomplete-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    align-items: center;
  }

  #all-items{
    display: flex;
  }


/* Modal Body */
.modal-body {padding: 2px 16px;}

#myModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #dfdfdf;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}